{{!-- WHEN I click on the dashboard option in the navigation
THEN I am taken to the dashboard and presented with any blog posts I have already created and the option to add a new blog post
WHEN I click on the button to add a new blog post
THEN I am prompted to enter both a title and contents for my blog post --}}

{{!-- new blogpost --}}
<div class="row mt-4">
  <div class="col-md-6">
    <h3>Enter a new blogpost:</h3>

    <form class="form new-blog-form">
      <div class="form-group">
        <label for="blog-title">Blogpost Title:</label>
        <input class="form-input" type="text" id="blog-title" name="blog-title" />
      </div>
      <div class="form-group">
        <label for="blog-desc">Post:</label>
        <textarea class="form-input" id="blog-body" name="blog-body"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

{{!-- user blogposts --}}
<section id="blogpost">
    <div class="blogTitle">
        {{#each posts as |post| }}
        <h1> {{ post.title }} </h1>
    </div>
    <div class="blogDeets">
        <p> {{ post.date }}, {{ user.name }} </p>
    </div>
    <div id="blogBody">
        <p> {{ post.body }}</p>
        <button data-id="{{ post.id }}" id="deletePost">Delete post</button>
        <textarea name="comment" id="addComment" cols="30" rows="2"></textarea>
        <button data-id="{{ id }}" id="addCommentBtn">Add Comment</button>
        {{/each}}
    </div>
    
    {{#if comment.length }}
    <div id="commentSection">
        {{#each comment as |comment| }}
        <p id="eachComment"> {{ comment.body }} -{{ user.name }}</p>
        {{/each}}
    </div> 
    {{/if}}
</section>
