{{!-- WHEN I visit the site for the first time
THEN I am presented with the homepage, which includes existing blog posts if any have been posted; navigation links for the homepage and the dashboard; and the option to log in
WHEN I click on the homepage option
THEN I am taken to the homepage
--}}
{{#if blogpost.length }}
<section id="blogpost">
    <div class="blogTitle">
        {{#each blogpost as |blogpost| }}
        <h1> {{ blogpost.title }} </h1>
    </div>
    <div class="blogDeets">
        <p> {{ blogpost.date }}, {{ user.name }} </p>
    </div>
    <div id="blogBody">
        <p> {{ blogpost.body }}</p>
        {{/each}}
    </div>
    
    {{#if comment.length }}
    <div id="commentSection">
        {{#each comment as |comment| }}
        <p id="eachComment"> {{ comment.body }} -{{ user.name }}</p>
        <button id="commentDelete">DELETE comment</button>
        {{/each}}
    </div> 
    {{/if}}
</section>
{{/if}}