{{!-- WHEN I visit the site for the first time
THEN I am presented with the homepage, which includes existing blog posts if any have been posted; navigation links for the homepage and the dashboard; and the option to log in
WHEN I click on the homepage option
THEN I am taken to the homepage
--}}

<section id="blogpost">
    <div>
        <div class="blogTitle">
            {{#each posts as |post| }}
            <h1> {{ post.title }} </h1>
        </div>
        <div class="blogDeets">
            <p> {{ format_date post.date }}, {{ user.username }} </p>
        </div>
        <div id="blogBody">
            <p> {{ post.body }}</p>
            {{/each}}
        </div>
        
        {{#if comment.length }}
        <div id="commentSection">
            {{#each comment as |comment| }}
            <p id="eachComment"> {{ comment.body }} -{{ user.name }}</p>
            {{/each}}
        </div> 
        {{/if}}
    </div>
</section>
